<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Terms And Conditions</title>
 <style>
        .center-text {
            text-align: center;
        }
    </style>
</head>
<body>

 <div class="center-text">
      <script type="text/javascript">
      document.write("This Website is no cuntains privecy policy bicouse this is model ticket Booking Website .Created by @Masilamani .\n if you have any privecy ,you can easyly dwonload and configure my website ");
      </script>
    </div>

</body>
</html>